<br><br><br>

<h1>Testimonios de sanación</h1>

<div class="container-fluid cajota-video-container">
    <div class="col-md-10 offset-md-1">
        <h3 class="text-xs-center">Galería de vídeos</h3><br><br><br><br>


        <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/n2qGFJRsZNs" frameborder="0"  allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Jose Arrollo - Echao Pa Lante</label>
            </div>
            <div class="col-md-6 sala-video">
                <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/wrT4PohJVcE" frameborder="0"  allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Jose Arrollo - Suave Bruta</label>
            </div>       
        </div>

        <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/uNuwW7turI0" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Los Maestros De Construcción</label>
            </div>
            <div class="col-md-6 sala-video">
                <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/O8VqWTsU1Bg" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Los Mecanicos</label>
            </div>  
        </div>

        <div class="row cajitas-row">
          <div class="col-md-6 sala-video">
                 <iframe class="kamegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/7kmDLdtuOY0" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Cumbia Colombiana</label>
          </div>
          <div class="col-md-6 sala-video">
               <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/mobatN0G23M" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Toto La Momposina - Prende la Vela</label>
          </div>  
      </div>


      <div class="row cajitas-row">
          <div class="col-md-6 sala-video">
              <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/MVpdJvjVVI8" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">El Parrandón, Rafael Orozco</label>
          </div>
          <div class="col-md-6 sala-video">
               <iframe class="kmegavision-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/PHbvY3WGImE" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Arroz con Habichuela</label>
          </div>  
      </div>



    </div>
</div>

<br><br><br>


<footer>
  &copy;2019 Todos los derechos estan reservados por kmegavisión.
<a
  target="_blank"
  href="https://www.facebook.com/CleiserBusinessGroupSAS/"
  ></a
>

</footer>

